.right__col {
	display: flex
}
.slider {
	display: flex;
    flex-grow: 1;
}
.sidebar__right {
	display: flex;
    position: relative;
    flex-direction: column;
	flex: 0 0 20%;
    max-width: 20%;
	flex-grow: 0;
    height: 100vh;
	background-color: #ffffff;
	align-items: center;
	justify-content: center;
}
.sidebar__headline {
	display: flex;
	flex: 0 0 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.sidebar__scroll {
	justify-content: center;
    align-items: center;
    display: flex;
	height: 175px;
    line-height: 175px;
    flex: 0 0 10%;
}
.sidebar__headline--wrapper {
	position: absolute;
	bottom: 50%;
	display: flex;
	width: 200px;
	margin: 0 auto;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	justify-content: center;
    align-items: center;
}
.sidebar__headline--wrapper span {
	font-family: 'GillSansC';
	font-size: 28px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}