.swiper-container.mySwiper.swiper-container-initialized.swiper-container-horizontal.swiper-container-pointer-events
  #swiper-wrapper-1f4d54305b0dafe9.swiper-wrapper(aria-live='polite' style='transition-duration: 0ms; transform: translate3d(-2552px, 0px, 0px);')
    .swiper-slide(role='group' aria-label='1 / 9' style='width: 1276px;') Slide 1
    .swiper-slide.swiper-slide-prev(role='group' aria-label='2 / 9' style='width: 1276px;') Slide 2
    .swiper-slide.swiper-slide-active(role='group' aria-label='3 / 9' style='width: 1276px;') Slide 3
    .swiper-slide.swiper-slide-next(role='group' aria-label='4 / 9' style='width: 1276px;') Slide 4
    .swiper-slide(role='group' aria-label='5 / 9' style='width: 1276px;') Slide 5
    .swiper-slide(role='group' aria-label='6 / 9' style='width: 1276px;') Slide 6
    .swiper-slide(role='group' aria-label='7 / 9' style='width: 1276px;') Slide 7
    .swiper-slide(role='group' aria-label='8 / 9' style='width: 1276px;') Slide 8
    .swiper-slide(role='group' aria-label='9 / 9' style='width: 1276px;') Slide 9
  span.swiper-notification(aria-live='assertive' aria-atomic='true')