//- button.sidebar__cart.tab.badge
//- 	span.button__cart
//- 		include svg/004-online-shop.svg
//- 	//- a(href="#"): img(src="img/svg/cart/svg/004-online-shop.svg")
//- 	span cart

.sidebar__cart.tab
	span.button__cart
		include svg/004-online-shop.svg
		.sidebar__cart--count 1
	span.sidebar__cart--text cart